.skills_section_wrapper{
    grid-template-columns: 8% 92%;
}
.skills_heading{
    transform: rotate(-90deg);
    position: absolute;
    right: 0;
    top: 16%;
}

.skills_items{
    grid-template-columns: repeat(2, 1fr);
}
.skill_card{
    padding: 25px;
}
.skill_card_border{
    height: 10px;
    border-radius: 33px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--green_color);
}

@media (max-width: 840px) {
    .skills_section_wrapper{
        grid-template-columns: 100%;
        gap: 25px;
    }
    .skills_heading{
        position: relative;
        transform: rotate(0);
        top: 0;
    }
    .pretend{
        display: flex;
        justify-content: center;
    }

    .skills_glarry{
        display:grid;
        grid-template-columns: 100% ;
    }
    .skill_head_buttons{
        justify-content: center;
        flex-wrap: wrap;
    }
    .skills_items{
        grid-template-columns: auto;
    }
}