.about_section_wrapper{
    grid-template-columns: 45% 30% 8%;
    justify-content: space-between;
}
.about_heading{
    transform: rotate(90deg);
    position: absolute;
    right: 0;
    top: 40%;
}
.about_content{
    line-height: 36px;
}

.about_img img{
    transition:.5s ease-in-out;
}
.about_img img:hover{
    transform: scale(1.1);
}
@media (max-width:840px) {
    .about_section_wrapper{
        grid-template-columns:100%;
        text-align: center;
        gap: 30px;
    }
    .about_heading{
        transform: rotate(0);
        position: relative;
        right: 0;
        top: 40%;
    }
    .about_content{
        order: 2;
    }
    .about_heading_wrapper{
        margin: 0 auto;
        order: 1;
    }
    .about_img{
        order: 3;
    }
    .about_section_buttons{
        justify-content: center;
    }
}