.hobby_icon{
    width: 80px;
    width: 80px;
    border-radius: 50%;
}

.hobbies_wrapper{
    grid-template-columns:92% 8%;
    justify-content: space-between;
}

.hobbies_title{
    transform: rotate(-90deg);
    position: absolute;
    top: 35%;
    left:0;
}

.hobbies_cards{
    grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 840px) {
    .hobbies_wrapper{
        grid-template-columns: 100%;
        gap: 25px;
    }

    .hobbies_headding_wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hobbies_title{
        transform: rotate(0deg); 
        position: relative;
        top: 0;
    }
    .hobbies_cards{
        grid-template-columns: repeat(2, 1fr);
        order: 2;
    }
}

@media (max-width: 567px) {
    .hobbies_cards{
        grid-template-columns: auto;
    }
}